<div class="container">
  <h1><%= @user.name %>'s Page</h1>

  <div class="row my-5">
    <div class="col-12">
      <h2>Bookings for My Toilets</h2>
        <ul>
        <% @toilet_bookings.each do |t_booking| %>
          <li><%= t_booking.toilet.name %></li>
        <% end %>
        </ul>
    </div>
  </div>

  <div class="row my-5">
    <div class="col-4">

    </div>
    <div class="col-4">
      <h2>My Toilets</h2>
      <ul>
        <% @toilets.each do |toilet| %>
          <li><%= toilet.name %> <span class="btn btn-danger">X</span></li>
        <% end %>
      </ul>
    </div>
    <div class="col-4">
      <h2>My Bookings</h2>
      <ul>
        <% @bookings.each do |booking| %>
          <li><%= booking.toilet.name %> - <%= booking.start_time %> - <%= booking.end_time %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
