<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-fixed-top">
  <div class="container-fluid">
    <div class="d-flex flex-row align-items-center">
      <!-- Logo Section -->
      <div class="mx-0 px-0">
        <%= link_to toilets_path, class: "navbar-brand" do %>
          <%= image_tag('POTIFY_LOGO.png', class: 'navbar-logo') %>
        <% end %>
      </div>
      <!-- Tagline Section (hide on small screens) -->
      <p class="fs-6 mb-0 d-none d-sm-block">The #1 choice for your numbers 1 and 2</p>
    </div>
    <!-- Navbar Toggle for Mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Search Bar (adjust on small screens) -->
    <div class="input-group w-25 d-flex">
      <%= form_with url: toilets_path, method: :get, html: {class: 'd-flex'} do %>
        <div data-controller="address-autocomplete"data-address-autocomplete-api-key-value="<%= ENV["MAPBOX_API_KEY"] %>">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control d-none",
            placeholder: "Type a keyword", data: {address_autocomplete_target: "address"}
        %>
        </div>
        <button ><i class="fas fa-search no-border-radius"style="color: #8356D1"></i></button>
      <% end %>
    </div>
    <!-- Navbar Menu -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active mx-2 mt-1" id="add-toilet">
            <%= link_to new_toilet_path, class: "nav-link" do %>
              <i class="fa-solid fa-plus"></i> Add Your Toilet!
            <% end %>
          </li>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <% if current_user.profile_picture.attached? %>
              <!-- Show the user's profile picture if attached -->
              <%= cl_image_tag current_user.profile_picture.key, class: "avatar", alt: "User avatar" %>
            <% else %>
              <!-- Show a default placeholder image if no profile picture -->
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/lostonpurpose", class: "avatar", alt: "default avatar" %>
            <% end %>
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "My Profile", "#", class: "dropdown-item" %>
            <%= link_to "My Bookings", bookings_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
</div>
