<div class="container mb-3">
  <h1 class="text-center my-4">Browse Our Glorious Thrones</h1>
  <div class="cards mx-5" id="index-card-text">
    <% @toilets.each do |toilet| %>
      <div class="card card-rounded-top">
        <!-- Check if the toilet has multiple photos -->
        <% if toilet.photos.count > 1 %>
          <!-- Carousel for toilets with multiple photos -->
          <div id="carousel-<%= toilet.id %>" class="carousel slide">
            <div class="carousel-inner">
              <!-- Loop through each photo for the carousel -->
              <% toilet.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= link_to "", toilet_path(toilet), class: "card-link" %>
                  <%= cl_image_tag photo.key, class: "d-block w-100 image-size", alt: "Toilet photo #{index + 1}" %>
                </div>
              <% end %>
            </div>
            <!-- Carousel controls (next and previous buttons) -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= toilet.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= toilet.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <!-- For toilets with a single photo, display that photo as a background or image -->
          <div class="single-photo card-rounded-top">
            <%= link_to "", toilet_path(toilet), class: "card-link" %>
            <%= cl_image_tag toilet.photos.first.key, alt: "Toilet photo", class: "w-100 image-size"%>
          </div>
        <% end %>
        <div class="card-body d-flex flex-column">
          <div class="d-flex justify-content-between mb-2">
            <h5 class="card-title encode-sans-title">
              <%= link_to "", toilet_path(toilet), class: "card-link" %>
              <%= link_to toilet.name, toilet_path(toilet) %>
            </h5>
            <div class="btn btn-custom align-self-start">Book!</div>
          </div>
          <div class="flex-grow-1 mb-2">
            <p class="card-text"><%=  toilet.description %></p>
          </div>
          <p class="mb-0 mt-2 fs-6"><b>
              ¥<%= toilet.price %>/Hour
            </b>
          </p>
        </div>
      </div>
      <!-- Link to the toilet's page -->
    <% end %>
  </div>
</div>
