<div class="container mb-3">
  <h1 class="text-center my-4">Browse Our Glorious Thrones</h1>
  <div class="cards" id="index-card-text">
    <% @toilets.each do |toilet| %>
      <div class="card">
        <!-- Check if the toilet has multiple photos -->
        <% if toilet.photos.count > 1 %>
          <!-- Carousel for toilets with multiple photos -->
          <div id="carousel-<%= toilet.id %>" class="carousel slide">
            <div class="carousel-inner">
              <!-- Loop through each photo for the carousel -->
              <% toilet.photos.each_with_index do |photo, index| %>
                <div class="carousel-item <%= 'active' if index == 0 %>">
                  <%= cl_image_tag photo.key, class: "d-block w-100 image-size", alt: "Toilet photo #{index + 1}" %>
                </div>
              <% end %>
            </div>
            <!-- Carousel controls (next and previous buttons) -->
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-<%= toilet.id %>" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-<%= toilet.id %>" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        <% else %>
          <!-- For toilets with a single photo, display that photo as a background or image -->
          <div class="single-photo">
            <%= cl_image_tag toilet.photos.first.key, alt: "Toilet photo", class: "w-100 image-size"%>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"> <%= link_to toilet.name, toilet_path(toilet) %></h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
      <!-- Link to the toilet's page -->
    <% end %>
  </div>
</div>
