<div class="mt-3 mx-3">
  <div class="card-product">
    <%= cl_image_tag(@toilet.photo.key, width: 400, height: 300) %>
    <div class="card-product-infos">
      <h1><%= @toilet.name %></h1>
      <p class="fs-4"><b><%= @toilet.description %></b></p>
    </div>
  </div>
</div>
<% if @toilet.user != current_user %>
</div>
  <h3>Book this toilet</h3>
  <%= simple_form_for [@toilet, @booking] do |f| %>
  <%= f.input :start_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.input :end_time,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
  <%= f.submit class: "btn btn-flat" %>
  <% end %>
</div>
<% end %>
